# Core functionality - changes here should be rare!
/src/app.py                   @iamCyberPavel
/src/backend/database.py      @iamCyberPavel
/src/backend/routers/auth.py  @iamCyberPavel

# The frontend will need refactored soon to be more object oriented.
/src/static/   @iamCyberPavel
